# OS and IDE
.emacs*
.c9
*.flymake
*~
.#*
.idea
*.sublime-*

# bower
bower_components
public/bower

# phpmyadmin
phpmyadmin/*

# npm
node_modules
npm-debug.log

# project-specific

# grunt & gulp
.grunt
.gulp

# gradle
.gradle
out
.htaccess
